.raleway {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
}
.black {
  color: black;
}
.roboto {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
.font700 {
  font-weight: 700 !important;
}
.materialShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.materialShadowDarker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
}
.parentCenter {
  height: 100% !important;
  display: table;
  width: 100%;
}
.childCenter {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
@media (max-width: 660px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 661px) {
  .mobile {
    display: none;
  }
}
.infoCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: absolute;
  z-index: 5;
  width: 28%;
  height: 98%;
  left: 1%;
  top: 1%;
  padding: 2%;
  overflow-y: scroll !important;
}
.infoCard .context {
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.3em !important;
}
/*============================================ NAVIGATION.PHP =====================================*/
.navButton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
}
.navButton:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
#navigation-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 10%;
  padding: 5px 9px;
}
#navigation-left:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
#navigation-right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 90%;
  padding: 5px 11px;
}
#navigation-right:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
