
@BLUE100: #BBDEFB;
@BLUE300: #64B5F6;
@BLUE500: #2196F3;

@ORANGEACCENT1: #FF6E40;
@ORANGEACCENT2: #FF3D00;

@GREY: #757575;

.raleway{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
}

.black{
  color: black;
}

.roboto{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.font100{
  font-weight: 200 !important;
}

.font400{
  font-weight: 400 !important;
}

.font700{
  font-weight: 700 !important;
}

.materialShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.materialShadowDarker{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
}

.parent{
  height: 100% !important;
  display: table;
  width: 100%;
}

.child{
  display: table-cell;
  width: 100%;
}

.childCenter{
  .child;
  vertical-align: middle;
}

body{
  min-width: 750px;
  min-height: 550px;
  overflow-x: hidden;
}

.desktop{
  @media (max-width: 660px){
    display: none;
  }
}

.mobile{
  @media (min-width: 661px){
    display: none;
  }
}

.novel{
  height: 67.5vh;
  width: 45vh;
}

*{
  //border: solid 1px red !important;
}

/*============================================ TRAINCAR.PHP =====================================*/

.traincar-car{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.traincar-active{
  display: block !important;
}

img{
  .materialShadow;
  .novel;
}

.col-xs-6{
  padding-top: 20px;
  position: relative;
}

.bookCard{
  .materialShadow;
  .novel;

  background-color: white;
  overflow-y: scroll !important;

  .bookTitle{
    text-transform: uppercase;
    .raleway;
    .font700;
    padding-top: 15px;
  }

  hr{
    border: 1px solid lighten(black, 80%);
    width: 90%;
  }

  .bookText{
    .roboto;
    padding: 10px;
  }
}



/*============================================ NAVIGATION.PHP =====================================*/

.navButton{
  .materialShadow;

  height: 36px;
  width: 36px;
  font-size: 20px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  &:hover{
    .materialShadowDarker;
  }
}

#navigation-left{
  .navButton;
  top: 50%;
  left: 3%;
  padding: 7px 10px;
}

#navigation-right{
  .navButton;
  top: 50%;

  left: calc(~'98% - 36px');
  left: -moz-calc(~'98% - 36px');
  left: -webkit-calc(~'98% - 36px');
  left: -o-calc(~'98% - 36px');

  padding: 7px 13px;
}

.title {
  font-size: 4em;
  left: 3%;
  top: 2%;
  position: fixed;
}